// h-create



.h-create{
    &_link{
        display: block;
        padding: 14px 10px;
        font-size: 14px;
        line-height: 32px;
        color: #1a8cff;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
            color: @linkColorHover;
        }
    }

    @media (max-width: 910px) {
        display: none;
    }
}
