// h-reg-confirm



.h-reg-confirm{
    padding: 12px 32px;
    font: 700 12px/18px @baseFontFamily;
    color: #fff;
    background: @baseColor;
}
.h-reg-confirm-link{
    text-decoration: none;
    color: #b1e9ff;
    border-bottom: 1px dotted #b1e9ff;
    cursor: pointer;
    &:hover{
        color: #fff;
        border-bottom-color: #fff;
    }
}
.h-reg-confirm-close{
    position: relative;
    float: right;
    margin: 0 20px 0 0;
}
.h-reg-close-icon{
    position: absolute;
    top: 0;
    right: -20px;
    padding-left: 5px;
    font-size: 25px;
    font-weight: 400;
}
