// h-search



.h-search{
    &_ico{
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 10px 15px 0;
        pointer-events: none;
    }
    &_close{
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        margin: 0;
        padding: 22px 0 15px 10px;
        background: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        -webkit-appearance: none;
    }
    &_input{
        height: 60px;
        padding: 15px 35px;
        border: 0;
        font-family: @ff-roboto;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        color: #000;
        background: none;
    }
}
