// h-signin



.h-signin{
    &_link{
        display: block;
        padding: 14px 24px;
        font-size: 14px;
        line-height: 32px;
        color: #1a8cff;
        text-decoration: underline;
    }

    @media (max-width: @screen-tp-max) {
        margin-right: -20px;
    }
}
