// h-special



.h-special{
    position: relative;
    z-index: 100;
    font: 700 10px/12px @ff-proxima-nova;
    color: #7894a2;
    background: #1b2336;
    &_cont{
        &:extend(.cf-mix all);
        padding: 5px 32px;
    }


    @media (max-width: 1023px) {
        &_cont{
            padding: 5px 20px;
        }
    }

    @media (max-width: 767px) {
        display: none;
    }
}
