// h-user-menu



.h-user-menu{
    list-style: none;
    & + &{
        margin: 27px 0 0;
        padding: 27px 0 0;
        border-top: 1px solid #e8e8e8;
    }
    &_ico-a{
        fill: #454553;
    }
    &_ico-b{
        fill: #1a8cff;
    }
    &_i{
        margin: 12px 0 0;
        font-size: 0;
        white-space: nowrap;
        &:first-child{
            margin: 0;
        }
    }
    &_link{
        display: inline-block;
        vertical-align: top;
        &, &:hover{
            text-decoration: none;
        }
        &:hover{
            .h-user-menu_name{
                text-decoration: underline;
            }
        }
    }
    &_ico{
        display: inline-block;
        vertical-align: top;
    }
    &_name{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 9px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 500;
        color: #454553;
    }
    &_badge{
        &:extend(.badge-mix all);
        margin: 4px 0 0 6px;
    }
    &_balance{
        &:extend(.badge-val-mix all);
        margin: 5px 0 0 6px;
    }
}
