//
// Planeta Header
// --------------------------------------------

.header{
    height: 60px;
    margin: 0 0 20px;
    font-family: @ff-roboto;
    &_cont{
        position: relative;
        height: 100%;
        padding: 0 32px;
        background: #fff;
        &:before{
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            box-shadow: 0 10px 20px fade(#1b2336, 5);
        }
    }
    &_wrap{
        &:extend(.cf-mix all);
        position: relative;
        height: 100%;
        margin: 0 0 0 57px;
    }
    &_toggle{
        position: relative;
        z-index: 100;
        float: left;
        margin: 15px 0 0 -3px;
    }
    &_menu{
        float: left;
        height: 100%;
    }
    &_logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: -29px;
        font-size: 30px;
        line-height: 0;
    }

    &_create{
        float: right;
    }

    &_user{
        float: right;
    }
    &_search-ico{
        float: right;
    }
    &_search-btn{
        width: auto;
        height: auto;
        margin: 0;
        padding: 22px 0 15px 10px;
        background: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        -webkit-appearance: none;
    }


    &_main{
        position: relative;
        z-index: 99;
        height: 100%;
        transition: .2s .1s;
    }
    &_in{
        height: 100%;
        transition: .3s .25s;
    }
    &_search{
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: .2s;
        visibility: hidden;
        opacity: 0;
        transform: translateY(20px);
    }

    &_search-results{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: .2s;
    }
    &_search-results-overlay{
        position: fixed;
        z-index: 98;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: fade(#1b2336, 70);
        visibility: hidden;
        opacity: 0;
        transition: .2s;
    }


    &__search{
        html:not(.main-nav-open) &{
            .header{
                &_cont{
                    z-index: 99;
                }
                &_wrap{
                    overflow: hidden;
                }
                &_main{
                    transform: translateY(-100%);
                    transition: .2s;
                }
                &_search{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    transition: .2s .1s;
                }
            }
        }
    }
    &__search-results{
        html:not(.main-nav-open) &{
            .header{
                &_search-results,
                &_search-results-overlay{
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .main-nav-open &{
        &_cont{
            z-index: 99;
        }
        &_in{
            transform: translateY(-100%);
            transition: .2s;
        }
    }


    @media (max-width: 1023px) {
        &_cont{
            padding: 0 20px;
        }
        &_wrap{
            margin-left: 37px;
        }
        &_logo{
            margin-left: -19px;
        }
    }

    @media (max-width: 767px) {
        &_search-ico{
            display: none;
        }
    }
}




.logo{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 116em / 30;
    line-height: 1em;
    transition: .2s;
    &, &:hover{
        text-decoration: none;
    }
    &:active{
        transform: translateY(2px);
    }
    &:before {
        content: "\\00a0";
    }
    svg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

