// main-nav-menu



.main-nav-menu{
    &_head{
        margin: 0 0 37px;
        font-size: 22px;
        line-height: 25px;
        color: #454553;
    }
    &_i{
        margin: 13px 0 0;
        font-size: 16px;
        line-height: 1.3;
        &:first-child{
            margin: 0;
        }
    }
    &_link{
        color: #1a8cff;
    }
    &_more{
        margin: 15px 0 0 -18px;
    }
    &_more-link{
        &:extend(.show-more-mix all);
    }


    @media (max-width: 767px) {
        padding: 0 20px;
        &_head{
            display: none;
        }
        &_link{
            color: #1b2336;
        }
    }
}
