// menu-toggle



.menu-toggle{
    position: relative;
    padding: 14px 3px;
    cursor: pointer;
    &_ico{
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
        background: #454553;
        border-radius: 4px;
        //transition: .1s;
        &:before,
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #454553;
            border-radius: 4px;
            transform: translateY(-7px);
            transition: .2s;
        }
        &:after{
            transform: translateY(7px);
        }
    }
    &_text{
        position: absolute;
        top: 0;
        left: 100%;
        padding: 0 0 0 7px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 500;
        color: #1a8cff;
        text-decoration: underline;
        visibility: hidden;
        opacity: 0;
        transform: translateX(20px);
        transition: .2s;
    }
    &:hover{
        .menu-toggle{
            &_ico{
                &:before{
                    transform: translateY(-8px);
                }
                &:after{
                    transform: translateY(8px);
                }
            }
        }
    }


    .main-nav-open &{
        .menu-toggle{
            &_ico{
                background: transparent;
                &:before{
                    transform: rotate(45deg);
                }
                &:after{
                    transform: rotate(-45deg);
                }
            }
            &_text{
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
                transition: .2s .1s;
            }
        }
    }


    @media (max-width: 767px) {
        &_text{
            display: none;
        }
    }
}
