// special projects



.spec-projects{
    float: right;
    font-size: 0;
    line-height: 25px;
    &_lbl{
        display: inline-block;
        vertical-align: top;
        margin: 1px 15px -1px 0;
        font-size: 11px;
    }
    &_val{
        display: inline-block;
        vertical-align: top;
    }
    &_i{
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 16px;
        &:first-child{
            margin-left: 0;
        }
    }


    @media (max-width: 1023px) {
        &_lbl{
            margin-right: 5px;
        }
        &_i{
            margin-left: 5px;
        }
    }
}
