// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Base
@baseColor:             #3498db;
@baseColorSecondary:    #ffda0b;

// Links
@linkColor:             @baseColor;
@linkColorHover:        darken(@linkColor, 15%);

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #808080;
@grayLighter:           #ccc;
@white:                 #fff;

// Accent colors
@blue:                  @linkColor;
@blueLight:             #ebf8fd;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #c0392b;
@redHover:              lighten(@red, 15%);
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

//Planeta
@planeta:                #26aedd;
@border:                 #bfbfbf;
@borderLight:            #e6e6e6;
@borderGray:             #d8dade;

// Typography
@baseFontSize:          12px;
@baseFontFamily:        Arial, sans-serif;
@baseLineHeight:        18px;
@textColor:             @grayDark;

// Buttons
@primaryButtonBackground:    #16A6DB;



// Concert
@concertBaseColor:      #c0392b;
@concertLinkColorHover: lighten(@concertBaseColor, 15%);



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1070;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;

// Input placeholder text color
@placeholderText:       @grayLight;

// Navbar
@navbarHeight:                    40px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDark;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;

// Form states and alerts
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);



// GRID
// --------------------------------------------------

// Default 990px grid
@gridColumns:             18;
@gridColumnWidth:         36px;
@gridGutterWidth:         18px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns + 1));

// Fluid grid
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;



// Default 960px grid
@grid960Columns:             12;
@grid960ColumnWidth:         60px;
@grid960GutterWidth:         20px;
@grid960RowWidth:            (@grid960Columns * @grid960ColumnWidth) + (@grid960GutterWidth * (@grid960Columns + 1));

// Fluid grid 960
@fluidGrid960ColumnWidth:     percentage(@grid960ColumnWidth/@grid960RowWidth);
@fluidGrid960GutterWidth:     percentage(@grid960GutterWidth/@grid960RowWidth);


@screen-md-min: 1240px;
@screen-md-max: 1239px;



// phone portrait
@screen-pp-min: 320px;
@screen-pp-max: (@screen-pp-min - 1);

// phone landscape
@screen-pl-min: 568px;
@screen-pl-max: (@screen-pl-min - 1);

// tablet portrait
@screen-tp-min: 768px;
@screen-tp-max: (@screen-tp-min - 1);

// tablet landscape
@screen-tl-min: 1024px;
@screen-tl-max: (@screen-tl-min - 1);

// laptop desktop (for 1170(1200) grid system with 70 column and 30 gutter)
@screen-ld-min: 1200px;
@screen-ld-max: (@screen-ld-min - 1);

