<div id="auth-forms" class="hidden">
    <form id="signup-form" method="POST" action="https://auth.dev.planeta.ru/login">
        <div class="modal-login-form">
            <div class="mlf-item fieldset js-error-able">
                <span> Ваш email:</span>
                <input class="form-control control-lg" type="text" name="username" value="" data-autofocus="">
            </div>

            <div class="mlf-item fieldset js-error-able">
                <div class="mlf-rec">
                    <a class="remember-link" href="javascript:void(0)" tabindex="-1">
                        Забыли пароль?
                    </a>
                </div>
                <span>
                         Пароль:
                    </span>
                <input class="form-control control-lg" type="password" name="password">
                <span class="help-inline">
                        <span class="js-error-password">

                        </span>
                    </span>
            </div>

            <div class="mlf-item">
                <a class="btn btn-primary btn-lg" href="javascript:void(0)">
                    Войти на сайт
                </a>
                <p> Первый раз тут? <a class="registration-link" href="javascript:void(0)"> Зарегистрируйтесь!</a></p>
            </div>

            <input type="hidden" name="service" value="https://dev.planeta.ru/login/cas">
            <input type="hidden" name="failureUrl" value="">
            <input type="hidden" name="successUrl" value="">
            <input type="hidden" name="sendRenew" value="false">
            <input type="hidden" name="rememberMe" value="true">
        </div>
    </form>

    <form id="remember-form" action="/api/public/password-recover.json" method="POST">
        <div class="modal-login-form">
            <div class="mlf-item fieldset js-error-able">
                <span> Введите ваш email:</span>
                <input class="form-control control-lg" type="text" name="email" data-autofocus="">
                <span class="help-inline">
                        <span class="js-error-email">
                        </span>
                    </span>
            </div>
            <div class="mlf-item">
                <a href="javascript:void(0)" class="btn btn-primary btn-lg submit-remember"> Восстановить</a>
                <a href="javascript:void(0)" class="btn btn-lg back-from-remember"> Назад</a>
            </div>
        </div>
    </form>

    <form id="registration-form">
        <div class="modal-login-form">
            <div class="mlf-item fieldset js-error-able-email">
                <span> Ваш email:</span>
                <input class="form-control control-lg" type="text" autocomplete="off" name="email" data-autofocus="">
                <span class="help-inline">
                            <span class="js-error-email">
                            </span>
                        </span>
                <span class="help-inline"><span id="unregistered-email" style="display: none;"></span></span>
                <span class="warning-message"><span id="hint" style="display: none;"></span></span>
            </div>
            <div class="mlf-item fieldset js-error-able-password">
                <span> Пароль:</span>
                <input class="form-control control-lg" type="password" name="password">
                <span class="help-inline">
                        <span class="js-error-password">
                        </span>
                    </span>
            </div>
            <div class="mlf-item">
                <a class="btn btn-primary btn-lg" href="javascript:void(0)"> Зарегистрироваться</a>
                <p> Уже были у нас? <a class="signup-link" href="javascript:void(0)"> Войти!</a></p>
            </div>
        </div>
        <input type="hidden" name="redirectUrl" value="/">
    </form>
</div>


