// badge



.badge-mix{
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    height: 20px;
    padding: 3px 4px 0;
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    border: 2px solid #ff501a;
    border-radius: 20px;
    background: linear-gradient(0deg, #ff501a 0, #ff8838 100%);
    box-shadow: 0 5px 10px fade(#ff501a, 50);
    color: #fff;
}
