// bs-icon-size



.bs-icon-size(@size){
    @scale: @size * 100 / 400 / 100;
    [class^="bs-icons-"] {
        width: @size + 0px;
        height: @size + 0px;
    }
    //.bs-icons-vk    { background-position: 0 0 }
    .bs-icons-fb    { background-position: round(-500px * @scale) 0 }
    .bs-icons-tw    { background-position: round(-1000px * @scale) 0 }
    .bs-icons-ok    { background-position: round(-1500px * @scale) 0 }
    .bs-icons-mr    { background-position: round(-2000px * @scale) 0 }
    .bs-icons-gp    { background-position: round(-2500px * @scale) 0 }
    .bs-icons-sb    { background-position: round(-3000px * @scale) 0 }
    .bs-icons-tg    { background-position: round(-3500px * @scale) 0 }
}
