// cross



.cross(@size: 100, @stroke-width: 10, @stroke-color: #000){
    //@to: @stroke-width / 2;
    //@bo: @size - @to;
    @to: 0;
    @bo: @size;

    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" width="@{size}" height="@{size}" viewBox="0 0 @{size} @{size}" preserveAspectRatio="none"%3E  %3Cline fill="none" stroke="@{stroke-color}" stroke-width="@{stroke-width}" x1="@{to}" y1="@{to}" x2="@{bo}" y2="@{bo}"/%3E  %3Cline fill="none" stroke="@{stroke-color}" stroke-width="@{stroke-width}" x1="@{bo}" y1="@{to}" x2="@{to}" y2="@{bo}"/%3E  %3C/svg%3E');
    background-repeat: no-repeat;
}

