// link common style
.link-mixin() {
    color: @linkColor;
    cursor: pointer;
    &:hover{
        color: @linkColorHover;
        text-decoration: underline;
    }
}
.link-mix{
    .link-mixin();
}
