
.target-help-mixin(){
    position: absolute;
    top: 50%;
    right: 0;
    width: 15px;
    height: 15px;
    margin-top: -7px;
    font: 12px @baseFontFamily;
    text-align: center;
    color: #9ec1ce;
    border: 1px solid #9ec1ce;
    border-radius: 50%;
    &:before{
        content: '?';
    }
}
.target-help-mix{
    .target-help-mixin();
}
