
.thin-close-mixin() {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    margin: 10px;
    background: url(../images/project/faq-start-close.png) no-repeat;
}
.thin-close-mix{
    .thin-close-mixin();
}

