// Vertical-center-align a block
// ----------------------------------
.vertical-align-mix{
    display: block;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    .central-block{
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
    }
    .vertical-align{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
}
