<div class="h-special">
    <div class="h-special_cont">
        <div class="h-quick-links">
            <a href="https://dev.planeta.ru/welcome/one-hundred-millions.html" class="h-quick-links_i">
                <span class="h-quick-links_ico">
                    <svg width="19" height="19" viewBox="0 0 19 19"><path
                            d="M8.866 2c.745.01.77.476.955 1.046.102.311.172.64.274.969.413 1.353.738 2.78 1.184 4.122.031.107.025.19.057.292.197.596.318 1.251.535 1.846.065-.108.105-.206.133-.308.083-.184.147-.393.242-.585.3-.61.554-1.282.821-1.91.204-.48.287-.886.847-1.014a.573.573 0 0 1 .274.03c.329.105.574.383.636.723.178.481.382.986.573 1.464.102.247.178.49.274.723.017.075.043.147.076.215.175.029.352.034.528.016h1.382c.064.016.13.027.197.03a.88.88 0 0 1 .452.308c.065.105.112.22.14.339a.891.891 0 0 1-.427.83 6.787 6.787 0 0 1-1.922.093 4.08 4.08 0 0 1-1.095-.047c-.61-.205-.764-1.23-1.03-1.815-.058.1-.094.187-.122.277-.076.19-.153.382-.242.585-.299.696-.573 1.442-.904 2.123-.216.435-.267.897-.744 1.06a.77.77 0 0 1-.681-.138c-.408-.298-.427-.992-.605-1.523-.503-1.483-.808-3.071-1.305-4.553-.178-.533-.248-1.082-.44-1.6a2.183 2.183 0 0 0-.196.616c-.14.394-.255.836-.395 1.23-.057.166-.064.314-.121.478-.166.458-.3.969-.452 1.43-.038.102-.025.177-.064.277-.152.42-.235.873-.394 1.307-.306.855-.535 1.782-.815 2.646-.153.47-.267.95-.426 1.4-.05.287-.17.556-.35.785a.73.73 0 0 1-.694.215c-.516-.139-.637-.647-.834-1.107-.427-.992-.904-1.991-1.337-2.984-.108-.255-.223-.51-.33-.754a2.291 2.291 0 0 0-.135-.338H.796a.916.916 0 0 0-.198-.03.883.883 0 0 1-.44-.294 1.098 1.098 0 0 1-.14-.292.753.753 0 0 1 .109-.584c.343-.53 1.088-.4 1.922-.4.393-.04.79-.008 1.171.092.338.266.572.641.662 1.061.16.372.357.753.516 1.123.108.255.184.493.305.739.131.236.242.483.331.738.047-.101.077-.2.121-.292.077-.204.115-.412.185-.6.057-.163.064-.314.12-.477.14-.393.262-.835.395-1.23.102-.298.134-.583.242-.878.535-1.479.86-3.072 1.394-4.553.045-.127.045-.24.09-.369.152-.429.273-.91.426-1.337.063-.315.17-.62.318-.907a.928.928 0 0 1 .344-.261c.067-.011.133-.027.197-.048z"></path></svg>
                </span>
                <span class="h-quick-links_lbl">
                     Пульс Planeta.ru
                </span>
            </a>

            <a href="https://dev.planeta.ru/faq/article/7!paragraph47" class="h-quick-links_i">
                <span class="h-quick-links_ico">
                    <svg width="19" height="19" viewBox="0 0 19 19"><path
                            d="M10.013 4.365c-.765-.254-1.657 0-2.294.51S6.7 6.15 6.7 7.041c0 .383.256.637.638.637s.637-.254.637-.637c0-.382.128-.892.51-1.146.382-.255.764-.383 1.274-.255.637.127 1.02.637 1.147 1.146.127.638 0 1.147-.51 1.53a3.8 3.8 0 0 0-1.529 3.058c0 .382.255.637.637.637s.637-.255.51-.637c0-.765.51-1.53 1.147-2.04.892-.764 1.274-1.783 1.019-2.802-.255-1.147-1.147-1.912-2.166-2.167zM8.615 12.925c-.22.22-.22.66-.22.88 0 .22 0 .441.22.661.22.22.66.44.88.44.22 0 .66-.22.66-.44.221 0 .441-.44.441-.66 0-.44-.22-.66-.44-.88-.44-.441-1.1-.441-1.541 0z"></path><path
                            d="M9.5 2A7.494 7.494 0 0 0 2 9.5C2 13.647 5.353 17 9.5 17S17 13.647 17 9.5 13.647 2 9.5 2zm0 13.5c-3.28 0-6-2.72-6-6s2.72-6 6-6 6 2.72 6 6-2.72 6-6 6z"></path></svg>
                </span>
                <span class="h-quick-links_lbl">
                     Как поддержать проект
                </span>
            </a>

            <a href="https://dev.planeta.ru/faq/article/2!paragraph9" class="h-quick-links_i">
                <span class="h-quick-links_ico">
                    <svg width="19" height="19" viewBox="0 0 19 19"><path
                            d="M16.297 10.203h-1.875a.703.703 0 0 1 0-1.406h1.875a.703.703 0 0 1 0 1.406zm-1.378-5.128l-1.406 1.406a.703.703 0 1 1-.995-.994l1.407-1.406a.703.703 0 1 1 .994.994zM9.5 17a.703.703 0 0 1-.703-.703v-1.875a.703.703 0 0 1 1.406 0v1.875A.703.703 0 0 1 9.5 17zm0-11.719a.703.703 0 0 1-.703-.703V2.703a.703.703 0 0 1 1.406 0v1.875a.703.703 0 0 1-.703.703zm-3.018 8.232l-1.407 1.406a.703.703 0 1 1-.994-.994l1.406-1.406a.703.703 0 1 1 .995.993zm-.498-6.825a.703.703 0 0 1-.497-.207L4.081 5.075a.703.703 0 1 1 .994-.994l1.407 1.407a.703.703 0 0 1-.498 1.2zM5.281 9.5a.703.703 0 0 1-.703.703H2.703a.703.703 0 0 1 0-1.406h1.875c.388 0 .703.315.703.703zm7.735 2.813c.186 0 .365.074.497.206l1.406 1.406a.703.703 0 1 1-.994.994l-1.407-1.407a.703.703 0 0 1 .498-1.2z"></path></svg>
                </span>
                <span class="h-quick-links_lbl">
                     Что такое краудфандинг?
                </span>
            </a>
        </div>


        <div class="spec-projects">
            <div class="spec-projects_lbl">
                Спецпроекты
            </div>
            <div class="spec-projects_val">
                <a href="//biblio.dev.planeta.ru/" class="spec-projects_i" target="_self">
                    <img src="//static.dev.planeta.ru/6.12/images/biblio/logo-center-white.svg" width="117" height="25"
                         alt=" Библиородина">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="header_cont js-header"
         data-backbone-class-name="view HeaderSearch.Views.Header view15 : model HeaderSearch.Models.ContainerModel c8">
        <div class="header_toggle">
            <div class="menu-toggle js-open-main-nav">
                <div class="menu-toggle_ico"></div>
                <div class="menu-toggle_text">
                    Закрыть
                </div>
            </div>
        </div>

        <div class="header_wrap">
            <div class="header_main">
                <!-- Start header logo -->
                <div class="header_logo">


                    <a class="logo" href="//dev.planeta.ru/">
                        <div style="width:150px; height:40px">
                            <!--?xml version="1.0" encoding="utf-8"?-->


                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="100%" height="100%"
                                 viewBox="0 0 750 200">
                                <title>planeta.ru</title>
                                <style>
                                    .a {
                                        fill: #00b8e5;
                                    }

                                    .b {
                                        fill: none;
                                        stroke: #00b8e5;
                                        stroke-width: 13px;
                                    }

                                    .c {
                                        fill: #000;
                                    }

                                    .d {
                                        fill: #000;
                                    }

                                    .moon {
                                        transform-origin: -120% 200%;
                                        animation-name: rotation;
                                        animation-duration: 120s;
                                        animation-iteration-count: infinite;
                                        animation-timing-function: linear;
                                    }

                                    .ball {
                                        animation: jump 120s cubic-bezier(.17, .67, .78, 1.26) 120s infinite;
                                    }

                                    @keyframes rotation {
                                        0% {
                                            transform: rotate(0deg);
                                        }
                                        2.1% {
                                            transform: rotate(360deg);
                                        }
                                        100% {
                                            transform: rotate(360deg);
                                        }
                                    }

                                    @keyframes jump {
                                        0% {
                                            transform: translateY(-400px);
                                        }
                                        0.3% {
                                            transform: translateY(0);
                                        }
                                        0.6% {
                                            transform: translateY(-100px);
                                        }
                                        0.9% {
                                            transform: translateY(0);
                                        }
                                        1.2% {
                                            transform: translateY(-40px);
                                        }
                                        1.5% {
                                            transform: translateY(0);
                                        }
                                        1.8% {
                                            transform: translateY(-20px);
                                        }
                                        2.1% {
                                            transform: translateY(0);
                                        }
                                        100% {
                                            transform: translateY(0);
                                        }
                                    }
                                </style>
                                <circle cx="158.4" cy="32.4" r="20" class="moon1 a"></circle>
                                <circle class="a" cx="95" cy="95" r="60"></circle>
                                <circle cx="95" cy="95" r="90" class="b"></circle>
                                <!--<text x="213" y="123" -->
                                <!--font-family="Helvetica" -->
                                <!--font-size="108"-->
                                <!--style="font-weight: bold;">-->
                                <!--planeta-->
                                <!--</text>-->
                                <g class="c">
                                    <path d="M251.1 75.6c10.9 0 13.6 9.8 13.6 19.4 0 9-3.9 17.4-14 17.4 -10.2 0-13.1-11.1-13.1-18.3C237.5 84.5 241 75.6 251.1 75.6L251.1 75.6zM237.5 63.4h-15.3v84.6h15.8v-32.1l0.3 0.1c1.9 3.3 5.8 9.3 16.9 9.3 18 0 25.6-15.7 25.6-32.2 0-20.9-11.9-31.3-25.3-31.3 -10.7 0-15 5.6-18 10.3h-0.2V63.4z"></path>
                                    <rect x="288.5" y="42.3" width="15.8" height="81.5"></rect>
                                    <path d="M329 83c0.4-3.5 1.8-8.4 9.8-8.4 4 0 10.4 0.3 10.4 7.1 0 2.9-2.5 4.7-9.2 5.3 -15.2 1.2-28.2 7-28.2 20.9 0 12.5 9.2 17.6 18.3 17.6 10.8 0 15.9-5.1 19.5-8.8 0.3 3.4 0.6 4.3 1.5 7.2h17.1v-2.5c-1.9-0.7-3.5-2.2-3.5-9.3V79.4c0-14.9-15.5-17.5-24-17.5 -12.3 0-25.1 2.6-26.9 21.1H329L329 83zM349.2 94.4v7.7c0 7.3-7.2 11.9-14.1 11.9 -3.1 0-7.4-1.7-7.4-7.3 0-6.5 4.8-8.1 10.8-9.1C344.9 96.7 347.6 95.6 349.2 94.4z"></path>
                                    <path d="M375.1 63.4v60.4h15.8V89.3c0-9.2 5.4-14 12.5-14 10.1 0 10.3 7.5 10.3 11.9v36.7h15.8V82.1c0-13.2-9.1-20.2-20.9-20.2 -11.4 0-16 6.8-18.2 10.4h-0.2v-8.9H375.1z"></path>
                                    <path d="M477.3 106.1c-1.2 4.3-5.7 6.6-10.2 6.6 -12.8 0-13.8-10.2-13.8-14.8h41v-5.9c0-20.8-11.3-30.1-28.3-30.1 -26.4 0-29 23.2-29 30.5 0 24.8 13.1 33 30.1 33 10.3 0 22.3-4.8 26.5-19.3H477.3L477.3 106.1zM453.3 87.6c0.9-7.9 4.9-12.7 12.5-12.7 5.1 0 11.3 3 12.2 12.7H453.3z"></path>
                                    <path d="M504.3 47.3v16.2h-8.1v11.3h8.1v36.7c0 7.9 2.5 13 18.3 13 2.5 0 5.4-0.1 7.4-0.3v-11.9c-0.3 0.1-2.2 0.2-3.3 0.2 -6.4 0-6.6-1.3-6.6-4.8V74.8h9.9V63.4h-9.9V47.3H504.3z"></path>
                                    <path d="M550.8 83c0.4-3.5 1.8-8.4 9.8-8.4 4 0 10.4 0.3 10.4 7.1 0 2.9-2.5 4.7-9.2 5.3 -15.1 1.2-28.2 7-28.2 20.9 0 12.5 9.2 17.6 18.3 17.6 10.8 0 15.9-5.1 19.5-8.8 0.3 3.4 0.6 4.3 1.5 7.2h17.1v-2.5c-1.9-0.7-3.5-2.2-3.5-9.3V79.4c0-14.9-15.5-17.5-24-17.5 -12.3 0-25.1 2.6-26.9 21.1H550.8L550.8 83zM571 94.4v7.7c0 7.3-7.2 11.9-14.1 11.9 -3.1 0-7.4-1.7-7.4-7.3 0-6.5 4.8-8.1 10.8-9.1C566.7 96.7 569.4 95.6 571 94.4z"></path>
                                    <path d="M639.3 63.4v60.4h15.8v-31.6c0-6.7 2.4-14.3 14.7-14.3 1.5 0 3.1 0.1 4.6 0.3V62.1c-0.7-0.1-2.4-0.2-3.1-0.2 -9.7 0-13.2 5.9-16.5 12h-0.2V63.4H639.3z"></path>
                                    <path d="M679.8 63.4v39.7c0 15.4 8.5 22.2 20.4 22.2 8.4 0 14.8-3.7 18.4-10.1h0.2v8.5h15.2v-60.4h-15.8v34.8c0 10.8-7.1 13.8-12.2 13.8 -4.9 0-10.3-1.9-10.3-11.1V63.4H679.8z"></path>
                                </g>
                                <!--<text x="632" y="123" -->
                                <!--font-family="Helvetica" -->
                                <!--font-size="108"-->
                                <!--style="font-weight: bold;">-->
                                <!--ru-->
                                <!--</text>-->
                                <circle cx="613" cy="111" r="20" class="ball a"></circle>
                            </svg>

                        </div>
                    </a>

                </div>
                <!-- End header logo -->


                <div class="header_in">
                    <!-- Start header services menu -->


                    <div class="header_menu">
                        <div class="h-menu">
                            <div class="h-menu_i">
                                <a href="//dev.planeta.ru/search/projects" class="h-menu_link">
                                    Проекты
                                </a>
                            </div>
                            <div class="h-menu_i">
                                <a href="//dev.planeta.ru/search/shares" class="h-menu_link">
                                    Вознаграждения
                                </a>
                            </div>
                            <div class="h-menu_i">
                                <a href="//dev.planeta.ru/contacts" class="h-menu_link">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End header services menu -->

                    <!-- Start header search ico -->
                    <div class="header_search-ico js-header-search-button-open">
                        <button class="header_search-btn">
                            <svg width="18" height="18" viewBox="0 0 18 18">
                                <path d="M17.486 15.107a1.681 1.681 0 0 1-.743 2.838 1.681 1.681 0 0 1-1.636-.459l-4.932-4.931a6.745 6.745 0 1 1 2.38-2.379l4.931 4.931zM6.75 1.8a4.95 4.95 0 1 0 0 9.902 4.95 4.95 0 0 0 0-9.902z"
                                      fill="#454553"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- End header search ico -->

                    <!-- Start header user -->
                    <div class="header_user">


                        <script id="modal-change-password-template" type="text/x-jquery-template">
                            <div class="modal-dialog change-password-modal">
                                <div class="modal modal-login">
                                    <div class="modal-header">
                                        <a class="close" data-dismiss="modal">×</a>
                                        <div class="modal-title">Смена пароля</div>
                                        <div class="modal-header-shadow"></div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-login-form">
                                            <p>Вы были зарегистрированы на Планете. Ваш пароль был сгенерирован
                                                автоматически. Если хотите, Вы можете сменить его прямо сейчас:</p>
                                            <div class="mlf-item">
                                                <span>Новый пароль:</span>
                                                <input class="form-control control-lg" type="password" id="password"
                                                       name="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="modal-footer-cont">
                                            <div class="mlf-item">
                                                <button class="btn btn-primary btn-lg" type="submit">Сменить</button>
                                                <button class="btn btn-lg" type="reset">Пропустить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>

                        <div class="h-signin">
                            <a href="javascript:void(0)" class="h-signin_link js-signup-link" data-toggle="modal">
                                Вход
                            </a>
                        </div>
                        <pl-auth-from></pl-auth-from>
                    </div>
                    <!-- End header user -->

                    <div class="header_create">
                        <div class="h-create">
                            <a class="h-create_link js-create-button" href="//dev.planeta.ru/funding-rules">
                                Создать проект
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Start header search -->


            <div class="header_search">
                <div class="h-search">
                    <div class="h-search_ico">
                        <svg width="20" height="20" viewBox="0 0 18 18">
                            <path d="M17.486 15.107a1.681 1.681 0 0 1-.743 2.838 1.681 1.681 0 0 1-1.636-.459l-4.932-4.931a6.745 6.745 0 1 1 2.38-2.379l4.931 4.931zM6.75 1.8a4.95 4.95 0 1 0 0 9.902 4.95 4.95 0 0 0 0-9.902z"
                                  fill="#454553"></path>
                        </svg>
                    </div>
                    <button class="h-search_close js-header-search-button-close">
                        <svg width="18" height="18" viewBox="0 0 18 18">
                            <g stroke="#454553" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               fill="none">
                                <path d="M1 1l16 16M17 1L1 17"></path>
                            </g>
                        </svg>
                    </button>
                    <input type="text" class="form-control h-search_input js-h-search_input" placeholder=" Поиск...">
                </div>
            </div>
            <!-- End header search -->
        </div>

        <div class="header_search-results js-header-result-block">
            <div class="h-search-results"
                 data-backbone-class-name="view HeaderSearch.Views.HeaderResultBlock view17 : model BaseModel c16">
                <!-- Template : search-results-block-template : 0 -->
                <div class="h-search-results_list js-search-results">
                    <div data-backbone-class-name="view HeaderSearch.Views.ResultListView view18 : model BaseModel c16"></div>
                </div>
                <div class="h-search-results_all"><a href="https://dev.planeta.ru/search/projects"
                                                     class="h-search-results_all-link js-results-all"> Все наши
                    проекты </a> <a href="https://shop.dev.planeta.ru/products/search.html"
                                    class="h-search-results_all-link js-results-all"> Все наши товары </a> <a
                        href="https://dev.planeta.ru/search/shares" class="h-search-results_all-link js-results-all">
                    Все наши вознаграждения </a></div>
                <div class="h-search-results_loader">
                    <div class="md-loader">
                        <svg class="md-loader_circular" viewBox="25 25 50 50">
                            <circle class="md-loader_line" cx="50" cy="50" r="20"></circle>
                            <circle class="md-loader_spinner" cx="50" cy="50" r="20"></circle>
                        </svg>
                    </div>
                </div> <!-- End template : search-results-block-template --></div>
        </div>
    </div>

    <div class="header_search-results-overlay"></div>
</div>
<div class="main-nav">
    <div class="main-nav_cont">
        <div class="main-nav_wrap">
            <div class="main-nav_heads">
                <div class="main-nav-heads">
                    <div class="main-nav-heads_i">
                        <div class="main-nav-heads_link" data-id="0">
                            Проекты
                        </div>
                    </div>
                    <div class="main-nav-heads_i">
                        <div class="main-nav-heads_link" data-id="1">
                            Вознаграждения
                        </div>
                    </div>
                    <div class="main-nav-heads_i">
                        <div class="main-nav-heads_link" data-id="2">
                            О Planeta.ru
                        </div>
                    </div>
                    <div class="main-nav-heads_i">
                        <div class="main-nav-heads_link" data-id="3">
                            Авторам
                        </div>
                    </div>
                    <div class="main-nav-heads_i">
                        <div class="main-nav-heads_link" data-id="4">
                            Помощь
                        </div>
                    </div>
                </div>
            </div>


            <div class="main-nav_nav">
                <div class="main-nav_nav-list">
                    <div class="main-nav_nav-i" data-id="0">
                        <div class="main-nav-menu">
                            <div class="main-nav-menu_head">
                                Проекты
                            </div>

                            <div class="main-nav-menu_list">
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/projects?status=ACTIVE"
                                       class="main-nav-menu_link">
                                        Активные
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/projects?status=DISCUSSED"
                                       class="main-nav-menu_link">
                                        Обсуждаемые
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/projects?status=LAST_UPDATED"
                                       class="main-nav-menu_link">
                                        Последние обновленные
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/projects?status=CLOSE_TO_FINISH"
                                       class="main-nav-menu_link">
                                        Близкие к завершению
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/projects?status=NEW"
                                       class="main-nav-menu_link">
                                        Новые
                                    </a>
                                </div>
                            </div>
                            <div class="main-nav-menu_more">
                                <a href="https://dev.planeta.ru/search/projects" class="main-nav-menu_more-link">
                                    Показать все
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="main-nav_nav-i" data-id="1">
                        <div class="main-nav-menu">
                            <div class="main-nav-menu_head">
                                Вознаграждения
                            </div>

                            <div class="main-nav-menu_list">
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/shares?sortOrderList=SORT_BY_PURCHASE_COUNT_DESC"
                                       class="main-nav-menu_link">
                                        Популярные
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/shares?sortOrderList=SORT_FEW"
                                       class="main-nav-menu_link">
                                        Осталось мало
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/shares?sortOrderList=SORT_BY_TIME_ADDED_DESC"
                                       class="main-nav-menu_link">
                                        Новые
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/shares?sortOrderList=SORT_BY_PRICE_DESC"
                                       class="main-nav-menu_link">
                                        Самые дорогие
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/search/shares?sortOrderList=SORT_RARE"
                                       class="main-nav-menu_link">
                                        Редкие
                                    </a>
                                </div>
                            </div>
                            <div class="main-nav-menu_more">
                                <a href="https://dev.planeta.ru/search/shares" class="main-nav-menu_more-link">
                                    Показать все
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="main-nav_nav-i" data-id="2">
                        <div class="main-nav-menu">
                            <div class="main-nav-menu_head">
                                О Planeta.ru
                            </div>

                            <div class="main-nav-menu_list">
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/about" class="main-nav-menu_link">
                                        Что такое Planeta.ru?
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/advertising" class="main-nav-menu_link">
                                        Спецпроекты
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/partners" class="main-nav-menu_link">
                                        Партнеры
                                    </a>
                                </div>

                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/faq/article/12!paragraph198"
                                       class="main-nav-menu_link">
                                        Кто такие кураторы?
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/about?#about-contacts" class="main-nav-menu_link">
                                        Отдел PR и маркетинга
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-nav_nav-i" data-id="3">
                        <div class="main-nav-menu">
                            <div class="main-nav-menu_head">
                                Авторам
                            </div>

                            <div class="main-nav-menu_list">
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/funding-rules" class="main-nav-menu_link">
                                        Создать проект!
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/stories" class="main-nav-menu_link">
                                        Истории успеха
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://school.dev.planeta.ru" class="main-nav-menu_link">
                                        Обучение краудфандингу
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/faq/article/12" class="main-nav-menu_link">
                                        PR проекта
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/faq/article/9!paragraph80"
                                       class="main-nav-menu_link">
                                        Исполнение обязательств
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-nav_nav-i" data-id="4">
                        <div class="main-nav-menu">
                            <div class="main-nav-menu_head">
                                Помощь
                            </div>

                            <div class="main-nav-menu_list">
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/faq" class="main-nav-menu_link">
                                        F.A.Q.
                                    </a>
                                </div>
                                <div class="main-nav-menu_i">
                                    <a href="https://dev.planeta.ru/welcome/projects-agreement.html"
                                       class="main-nav-menu_link">
                                        Правила сервиса
                                    </a>
                                </div>

                                <div class="main-nav-menu_i">
                                    <a href="javascript:void(0)" class="main-nav-menu_link fic-mistake-a">
                                        Задать вопрос
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-nav_sections">
            <div class="main-nav_wrap">
                <div class="main-nav-sections">
                    <div class="main-nav-sections_i">
                        <a href="https://school.dev.planeta.ru" class="main-nav-sections_link">
                            <span class="main-nav-sections_ico">
                                <svg width="32" height="32" viewBox="0 0 32 32"><path
                                        d="M18.266 12.096a1.667 1.667 0 1 1 0 3.333 1.667 1.667 0 0 1 0-3.333m-5.158 1.633c-1.729.105-3.457.861-4.474 2.285-.138.195-.338.472-.474.933.285.035.687.112.923.152.622.105 1.352.185 2.047.596a19.143 19.143 0 0 0-.34 1.527.689.689 0 0 0-.009.119c.345.173.802.367 1.157.721.354.354.548.812.72 1.157.04 0 .08-.002.12-.009a19.143 19.143 0 0 0 1.526-.341c.412.696.491 1.425.596 2.048.04.235.118.637.153.922.46-.135.738-.335.932-.474 1.425-1.016 2.18-2.745 2.286-4.473 1.086-.714 2.177-1.48 2.871-2.545 1.317-2.022 1.425-4.425 1.425-6.915-2.49 0-4.893.109-6.914 1.425-1.066.694-1.831 1.786-2.545 2.872m12.7 12.076c-4.003 4.003-9.845 5.038-14.808 3.122-1.183-.531-4.242-2.467.291-7.001a.87.87 0 1 0-1.229-1.23c-4.437 4.437-6.387 1.6-6.966.368-1.95-4.977-.921-10.852 3.099-14.873C10.911 1.475 18.18.87 23.556 4.369a3.192 3.192 0 0 0 .743 3.331 3.195 3.195 0 0 0 3.332.744c3.499 5.375 2.894 12.644-1.823 17.361m3.484-18.714a3.195 3.195 0 0 0-.466-3.917 3.196 3.196 0 0 0-3.917-.467C18.688-1.47 10.184-.815 4.686 4.683c-6.248 6.248-6.248 16.382 0 22.63 6.248 6.249 16.383 6.249 22.631 0 5.498-5.498 6.153-14.001 1.975-20.222"
                                        fill="#F2AD0C"></path></svg>
                            </span>
                            <span class="main-nav-sections_name">
                                Школа
                            </span>
                        </a>
                    </div>
                    <div class="main-nav-sections_i">
                        <a href="https://shop.dev.planeta.ru" class="main-nav-sections_link">
                            <span class="main-nav-sections_ico">
                                <svg width="32" height="32" viewBox="0 0 32 32"><path
                                        d="M15.184 19.655c.033-.033.084-.091.148-.183v3.809h-3.727a2.886 2.886 0 0 1-2.885-2.886v-3.828h3.859a1.59 1.59 0 0 0-.275.208 2.039 2.039 0 0 0 0 2.88c.385.385.896.596 1.44.596.544 0 1.055-.211 1.44-.596m1.808-3.088h6.289v3.828a2.886 2.886 0 0 1-2.885 2.886h-3.948v-5.686c.29.259.629.505 1.019.738a8.737 8.737 0 0 0 1.546.725l.351-1.06c-.504-.167-1.647-.678-2.372-1.431M11.605 8.72h3.727v5.37a6.624 6.624 0 0 0-1.019-.738 8.737 8.737 0 0 0-1.546-.725l-.352 1.06c.006.002.65.219 1.345.635.438.263.963.648 1.308 1.129H8.72v-3.846a2.885 2.885 0 0 1 2.885-2.885m11.676 2.885v3.846h-3.959a1.57 1.57 0 0 0 .274-.208c.385-.385.597-.896.597-1.44 0-.544-.212-1.055-.597-1.44a2.02 2.02 0 0 0-1.439-.596 2.02 2.02 0 0 0-1.44.596 1.863 1.863 0 0 0-.269.374V8.72h3.948a2.885 2.885 0 0 1 2.885 2.885m-4.474 2.848c-.178.178-.985.502-2.099.798.296-1.113.621-1.921.798-2.099a.918.918 0 0 1 1.301.001.91.91 0 0 1 .269.65.913.913 0 0 1-.269.65m-5.063 4.682a.92.92 0 0 1-.65-1.57c.178-.178.985-.502 2.099-.798-.297 1.114-.621 1.921-.799 2.098a.91.91 0 0 1-.65.27m12.062 6.671c-5.415 5.414-14.197 5.414-19.611 0C.78 20.391.78 11.609 6.195 6.194 10.908 1.481 18.172.871 23.547 4.363a3.199 3.199 0 0 0 4.09 4.091c3.492 5.374 2.883 12.639-1.831 17.352m3.492-18.709a3.2 3.2 0 0 0-4.395-4.395C18.684-1.471 10.182-.81 4.686 4.686c-6.248 6.248-6.248 16.381 0 22.628 6.248 6.248 16.381 6.248 22.629 0 5.496-5.496 6.156-13.997 1.983-20.217"
                                        fill="#0098D9"></path></svg>
                            </span>
                            <span class="main-nav-sections_name">
                                Магазин
                            </span>
                        </a>
                    </div>
                    <div class="main-nav-sections_i">
                        <a href="https://dev.planeta.ru/welcome/bonuses.html" class="main-nav-sections_link">
                            <span class="main-nav-sections_ico">
                                <svg width="32" height="32" viewBox="0 0 32 32"><g fill="#36F"><path
                                        d="M25.78 25.782c-5.41 5.41-14.185 5.41-19.594 0-5.41-5.409-5.41-14.184 0-19.594C10.894 1.479 18.152.87 23.522 4.359a3.198 3.198 0 0 0 4.087 4.087c3.489 5.369 2.88 12.627-1.829 17.336m3.488-18.691a3.198 3.198 0 0 0-4.391-4.392C18.663-1.47 10.169-.81 4.678 4.681c-6.242 6.242-6.242 16.366 0 22.609 6.242 6.242 16.367 6.242 22.609 0 5.491-5.491 6.151-13.985 1.981-20.199"></path><path
                                        d="M21.807 22.001H10.005A2.408 2.408 0 0 1 7.6 19.596a.697.697 0 0 1 1.391 0c0 .559.455 1.014 1.014 1.014h11.802c.558 0 1.013-.455 1.013-1.014a.697.697 0 0 1 1.391 0 2.407 2.407 0 0 1-2.404 2.405"></path><path
                                        d="M20.691 10.533H11.12a.72.72 0 0 0-.717.717l.759 9.436c0 .394-.436.717-.042.717h9.571c.395 0-.041-.323-.041-.717l.758-9.436a.719.719 0 0 0-.717-.717"></path></g></svg>
                            </span>
                            <span class="main-nav-sections_name">
                                VIP клуб
                            </span>
                        </a>
                    </div>
                    <div class="main-nav-sections_i">
                        <a href="https://charity.dev.planeta.ru" class="main-nav-sections_link">
                            <span class="main-nav-sections_ico">
                                <svg width="32" height="32" viewBox="0 0 32 32"><path
                                        d="M17.129 13.138c-.626-.341-1.358-.445-2.298-.323a.128.128 0 0 1-.142-.109.127.127 0 0 1 .11-.142c.921-.12 1.66-.033 2.301.273a12.56 12.56 0 0 0-.413-2.139c-.001-.002-.004-.002-.005-.003-.564-.423-2.014-.38-2.03-.38a.128.128 0 0 1-.13-.123.126.126 0 0 1 .122-.13c.056-.002 1.226-.036 1.935.284a8.868 8.868 0 0 0-1.084-2.252.126.126 0 0 1 .033-.176.126.126 0 0 1 .176.033c.568.834.966 1.747 1.245 2.65.42-.763 1.275-1.151 1.316-1.169a.126.126 0 0 1 .167.064.126.126 0 0 1-.064.167c-.01.005-1.012.462-1.309 1.314.198.724.322 1.433.399 2.084.621-.737 1.574-1.269 1.619-1.294a.127.127 0 0 1 .122.222c-.011.006-1.138.635-1.703 1.437.145 1.557.023 2.696.02 2.719-.009.063-.06.148-.123.148l-.218-.011c-.069-.01-.096-.087-.086-.157.003-.024.186-1.3.04-2.987m8.677 12.667a13.804 13.804 0 0 1-5.163 3.264c-1.326.385-3.223.445-3.852-1.996a29.634 29.634 0 0 0-.211-2.063c.003-.301.017-.62.044-.962.085-.612.275-1.252.673-1.705.349-.397.797-.607 1.39-.684.325-.033.446.06.492.263.171.748.717 1.241 1.561 1.311 1.001.084 2.095-1.564 3.834-2.034-.918-1.172-2.432-1.695-3.434-1.778-.843-.07-1.804.475-1.919 1.203-.026.112-.072.405-.589.446-.01.001-.005.001.01.001-.866.07-1.547.334-2.042.898a2.996 2.996 0 0 0-.427.637c-.265-1.542-.088-2.021.303-2.74.57-1.047.882-2.011 1.028-2.874l.004-.013c.197-.908.489-.86 1.064-1.264 1.227-.862 2.019-3.049 1.281-4.756-.875-2.027-3.943-5.307-6.463-5.408 1.507 3.904-.314 4.894-.021 7.082.283 2.115 1.493 3.457 2.75 3.445.554-.012.836.162.811.834a5.124 5.124 0 0 1-.177.689c-.243.721-.763 1.369-.992 1.813-.187.36-.373.627-.516.927l-.041-.103c-.54-1.288-1.503-1.834-2.568-2.041l-.25-.047c-.228-.07-.263-.407-.267-.422-.098-.65-.376-.947-.983-1.08-.719-.157-2.42.642-2.696.999.957.162 1.541 1.504 2.261 1.662.606.132.917-.133 1.278-.683.079-.12.325-.109.409-.111l.162.031c1.969.382 2.412 3.111 2.482 3.656l.01.089.001.005c.029.229.07.482.126.767.07.357.122.702.161 1.034.464 5.492-2.316 5.466-4.043 4.946a13.807 13.807 0 0 1-5.092-3.238C.78 20.39.78 11.608 6.195 6.193 10.908 1.48 18.172.87 23.546 4.362a3.201 3.201 0 0 0 4.091 4.091c3.492 5.374 2.883 12.639-1.831 17.352m3.492-18.709a3.2 3.2 0 0 0-4.395-4.395C18.684-1.471 10.182-.811 4.686 4.685c-6.248 6.248-6.248 16.381 0 22.629 6.248 6.248 16.381 6.248 22.629 0 5.496-5.496 6.156-13.998 1.983-20.218"
                                        fill="#D60B52"></path></svg>
                            </span>
                            <span class="main-nav-sections_name">
                                Благотворительность
                            </span>
                        </a>
                    </div>
                    <div class="main-nav-sections_i">
                        <a href="https://biblio.dev.planeta.ru" class="main-nav-sections_link">
                            <span class="main-nav-sections_ico">
                                <svg width="32" height="32" viewBox="0 0 32 32"><path
                                        d="M24.351 8.142H10.079c-.724 0-1.256-.242-1.63-.736-.327-.435-.519-1.055-.548-1.754v-.11c0-.028 0-.053-.003-.082.003-.846.252-1.583.689-2.024.359-.362.86-.547 1.492-.547h14.269a.943.943 0 1 0 0-1.889H10.079c-1.139 0-2.118.381-2.833 1.105-.812.821-1.252 2.043-1.237 3.437 0 .047 0 .095.004.142v19.468c0 1.171.333 2.159.966 2.865.718.799 1.763 1.205 3.1 1.205h14.272a.943.943 0 0 0 .944-.944V9.086a.943.943 0 0 0-.944-.944zm-.944 19.188H10.079c-.78 0-1.35-.195-1.696-.579-.4-.444-.482-1.114-.482-1.599V9.436c.614.393 1.351.595 2.178.595h13.328V27.33zM10.02 4.62a.943.943 0 1 0 0 1.888h13.311a.942.942 0 0 0 .944-.944.943.943 0 0 0-.944-.944H10.02z"
                                        fill="#1A8CFF"></path><path
                                        d="M18.589 18.278c-1.165-.598-2.537-.819-4.47-.819h-1.857v-3.982c0-.368.207-.459.783-.459h4.511l.431 1.322c.038.126.117.182.236.182h.954c.17 0 .249-.069.249-.207.038-1.231.053-2.153.053-2.773 0-.174-.104-.252-.314-.252h-7.268c-1.373 0-2.053.437-2.053 1.485v4.687H8.399s-.188.066-.188.189v.976s.047.085.157.126c.104.041 1.388.472 1.473.5v6.352c0 .026.003.051.006.076v6.229l1.165-1.164 1.228 1.164v-5.958h1.328c2.04 0 3.425-.151 4.171-.45 1.766-.702 2.641-2.024 2.641-3.948 0-1.599-.602-2.691-1.791-3.276zm-3.897 6.005h-2.43V19.14h2.392c2.077 0 3.189.853 3.189 2.474 0 1.69-1.178 2.669-3.151 2.669z"></path></svg>
                            </span>
                            <span class="main-nav-sections_name">
                                БиблиоРодина
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>